@{
    ViewData["Title"] = "Калькулятор";
}

<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
</head>

<form method="post"  asp-action="Submit">
    <p><br /></p>
    <p><input required placeholder="Введите выражение: " name="txtEvaluate"></p>
    <p><input type="submit" value="Рассчитать!"></p>
    <p></p>
    <p> История: </p>
    <table border="1" cellpadding="5" style="border-collapse: collapse;">
        @{
            int x = 0;
        }
        @try
         {
            @foreach (var itemLog in Model)
            {
                @if (x % 2 == 0)
                 {
                    @: <tr><th>@(itemLog)</th><th> = </th><th>
                 }
                 else
                 {
                    @(itemLog)@:</th></tr>
                 }
                 x++;
             }
         }
        catch (Exception ex)
         {
            <p>@ex;</p>
            @: <tr><th>История пуста!</th></tr>
         }
    </table>
</form>
